<% is_new_user = params[:is_new_user] %>
<% title = is_new_user ? 'ユーザー登録' : 'ユーザー編集' %>
<% button_title = is_new_user ? '登録する' : '更新する' %>

<% content_for(:title, title) %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-between mb-3">
  <div>
    <h1 class="fs-2"><%= title %></h1>
    <% if is_new_user %>
      <p class="mb-0">自己紹介などユーザー情報を入力しましょう</p>
    <% end %>
  </div>
</div>

<hr class="mb-4">

<div class="d-flex justify-content-center mb-3">
  <div class="col-lg-6 col-md-8 col-12">
    <%= form_with(model: current_user, data: { controller: "user"}) do |form| %>
      <div class="mb-5">
        <%= form.label :self_introduction, '自己紹介', class: 'form-label' %>
        
        <div class="mb-2">
          <button type="button" class="btn btn-outline-dark" data-action="click->user#setSelfIntroductionTarget"><i class="fa-solid fa-pen-to-square me-1"></i>テンプレートを使う</button>
        </div>

        <%= form.text_area :self_introduction, class: 'form-control', placeholder: "■性格\n\n\n■好きなこと・趣味\n\n\n■今やっていること\n\n\n■将来どうなりたいか\n\n\n■卒業後の進路", rows: '15', data: { user_target: "self_introduction" } %>
      </div>

      <div class="mb-5">
        <p class="mb-1">企業アカウントの場合は<a href="https://yocchan-eng.hatenablog.com/draft/entry/YL2zxcesxtqxiW1CDTxz8dpf6mY#%E9%9D%9E%E5%85%AC%E9%96%8B%E8%A8%AD%E5%AE%9A" target="_blank" rel="noopener noreferrer">非公開設定</a>もできます↓</p>
        <%= form.check_box :is_hidden, class: 'form-check-input' %>
        <%= form.label :is_hidden, '非公開にする', class: 'form-check-label' %>
      </div>

      <div class="d-flex justify-content-center">
        <%= form.submit button_title, class: 'btn btn-primary me-3 px-3 py-2' %>
        <%= link_to 'TOPへ', root_path, class: 'btn btn-secondary px-4 py-2' %>
      </div>
    <% end %>
  </div>
</div>
