<% content_for(:title, 'ユーザー編集') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-between mb-3">
  <h1 class="fs-2">ユーザー編集</h1>
</div>

<hr class="mb-4">

<div class="d-flex justify-content-center mb-3">
  <div class="col-lg-6 col-md-8 col-12">
    <%= form_with(model: current_user) do |form| %>
      <div class="mb-5">
        <%= form.label :self_introduction, '自己紹介', class: 'form-label' %>
          <%= form.text_area :self_introduction, class: 'form-control', placeholder: 'ゼロ高3年生のよっちゃんです！', rows: '10' %>
      </div>

      <div class="mb-5">
        <p class="mb-1">企業アカウントの場合は<a href="https://yocchan-eng.hatenablog.com/draft/entry/YL2zxcesxtqxiW1CDTxz8dpf6mY#%E9%9D%9E%E5%85%AC%E9%96%8B%E8%A8%AD%E5%AE%9A" target="_blank" rel="noopener noreferrer">非公開設定</a>もできます。</p>
        <%= form.check_box :is_hidden, class: 'form-check-input' %>
        <%= form.label :is_hidden, '非公開にする', class: 'form-check-label' %>
      </div>

      <div class="d-flex justify-content-center">
        <%= form.submit class: 'btn btn-primary me-3 px-3 py-2' %>
        <%= link_to 'TOPへ', root_path, class: 'btn btn-secondary px-4 py-2' %>
      </div>
    <% end %>
  </div>
</div>
