<% content_for(:title, 'ユーザー編集') %>

<h1 class="text-center fs-2">企業の方ですか？</h1>
<div class="text-center mt-4">
  <%= form_with(model: current_user) do |form| %>
    <div class="mb-3">
      <%= form.check_box :is_hidden, class: 'form-check-input' %>
      <%= form.label :is_hidden, '非公開アカウントにする', class: 'form-check-label' %>
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit class: 'btn btn-primary me-3 px-3 py-2' %>
      <%= link_to 'TOPへ', root_path, class: 'btn btn-secondary px-4 py-2' %>
    </div>
  <% end %>
</div>

<div class="text-center mt-4">
  <span>※非公開アカウントにすると目標やタスク, コメント作成はできません<br>また、公開アカウントでコメントなどした場合表示されるので注意してください</span>
</div>
