<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <div>
    <h1 class="fs-3 text-center">ユーザー一覧</h1>
  </div>

  <div class="text-end">
    <% if params[:is_only_follows] %>
      <%= link_to '全てのユーザーを表示する', users_path, class: 'btn btn-primary me-3' %>
    <% else %>
      <%= link_to 'フォローしている人で絞り込む', users_path(is_only_follows: true), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 mb-3">
      <div class="border border-2 rounded-1">
        <div class="p-4 text-center">
          <%= image_tag user.image, width: 120, height: 120 %>
        </div>

        <div class="text-center">
          <%= link_to user.name, user, class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mb-3' %>
          <p class="mt-2 mb-0">目標の数:<%= user.goals.length %></p>
          <p class="mb-0">タスクの数:<%= user.tasks.length %></p>
          <p class="mb-0">コメントの数:<%= user.comments.length %></p>
        </div>

        <div class="text-center my-2">
          <%= render 'follow_form', user: %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @users %>
</div>
