<% content_for(:title, 'ユーザー一覧') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-between mb-3">
  <h1 class="fs-3 text-center">ユーザー一覧</h1>
</div>

<hr class="mb-4">

<div class="text-center mb-4">
  <div class="btn-group">
    <%= link_to '全て', users_path, class: "btn #{group_btn_class(params[:is_only_follows], type: :all)}" %>
    <%= link_to 'フォロー中', users_path(is_only_follows: true), class: "btn #{group_btn_class(params[:is_only_follows], type: :follow)}" %>
  </div>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 mb-3">
      <div class="border border-2 rounded-1 h-100">
        <%= link_to user, class: 'link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover' do %>
          <div class="d-flex justify-content-center my-3">
            <%= image_tag user.image, class: 'rounded-circle', alt: "#{user.name}のアイコン", width: 90, height: 90 %>

            <div class="ms-3 my-auto fs-5"><%= user.name %></div>
          </div>
        <% end %>

        <div class="text-center">
          <dl>
            <div class="container">
              <div class="row">
                <div class="col">
                  <dt class="border border-1 rounded-top">目標</dt>
                  <%= link_to user_path(user, is_goals: true), class: 'link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover' do %>
                    <dd class="border border-1 rounded-bottom p-2"><%= user.goals.length %></dd>
                  <% end %>
                </div>

                <div class="col">
                  <dt class="border border-1 rounded-top">タスク</dt>
                  <%= link_to user_path(user, is_tasks: true), class: 'link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover' do %>
                    <dd class="border border-1 rounded-bottom p-2"><%= user.tasks.length %></dd>
                  <% end %>
                </div>

                <div class="col">
                  <dt class="border border-1 rounded-top">コメント</dt>
                  <%= link_to user_path(user, is_comments: true), class: 'link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover' do %>
                    <dd class="border border-1 rounded-bottom p-2"><%= user.comments.length %></dd>
                  <% end %>
                </div>
              </div>
            </div>
          </dl>
        </div>

        <div class="text-center mb-3">
          <%= render 'follow_form', user: %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @users %>
</div>
