<div class="text-center mb-3">
  <%= image_tag @user.image, width: 120, height: 120 %>
  <p><%= @user.name %></p>

  <div class="d-flex justify-content-center">
    <%= link_to '一覧へ戻る', users_path, class: 'btn btn-secondary me-2' %>
    <% if current_user?(@user) %>
      <%= link_to '修正する', edit_user_path(current_user), class: 'btn btn-warning' %>
    <% else %>
      <%= render 'follow_form', user: @user %>
    <% end %>
  </div>
</div>

<% goal_count = 3 %>
<% goals = @user.goals.order(created_at: :desc).limit(goal_count) %>
<% if goals.present? %>
  <div class="mb-3">
    <h2 class="fs-4 text-center">最近の目標</h2>
    <%= render 'shared/goal', goals: %>
  </div>
<% end %>

<% tasks = recent_tasks(@user, task_count: 3) %>
<% if tasks.present? %>
  <div class="mb-3">
    <h2 class="fs-4 text-center">最近のタスク</h2>
    <%= render 'shared/task_list', tasks: %>
  </div>
<% end %>

<% comments = recent_comments(@user, comment_count: 3) %>
<% if comments.present? %>
  <h2 class="fs-4 text-center">最近のコメント</h2>
  <%= render 'shared/comment', comments: %>
<% end %>
