<% content_for(:title, 'ユーザー詳細') %>

<div class="text-center mb-5">
  <div class="d-flex justify-content-center mt-3 mb-4">
    <%= image_tag @user.image, class: 'rounded-circle', alt: "#{@user.name}のアイコン", width: 120, height: 120 %>

    <div class="ms-3 my-auto h3"><%= @user.name %></div>
  </div>

  <div class="d-flex justify-content-center">
    <% if current_user?(@user) %>
      <%= link_to '修正する', edit_user_path(current_user), class: 'btn btn-warning px-4 py-2' %>
    <% else %>
      <%= render 'follow_form', user: @user %>
    <% end %>
    <%= link_to '一覧へ戻る', users_path, class: 'btn btn-outline-secondary ms-2 px-3 py-2' %>
  </div>
</div>

<div class="d-flex justify-content-center mb-3">
  <div class="col-lg-6 col-md-8 col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'プロフィール', user_path(@user), class: "nav-link link-dark #{'active' unless params[:is_goals] || params[:is_tasks] || params[:is_comments]}" %>
      </li>
      <li class="nav-item">
        <%= link_to '目標', user_path(@user, is_goals: true), class: "nav-link link-dark #{'active' if params[:is_goals]}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'タスク', user_path(@user, is_tasks: true), class: "nav-link link-dark #{'active' if params[:is_tasks]}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'コメント', user_path(@user, is_comments: true), class: "nav-link link-dark #{'active' if params[:is_comments]}" %>
      </li>
    </ul>
  </div>
</div>

<% if params[:is_goals] %>
  <% goal_count = 3 %>
  <% goals = @user.goals.order(created_at: :desc).limit(goal_count) %>
  <% if goals.present? %>
    <div class="mb-5">
      <div class="d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
          <h2 class="rounded fs-5 fw-semibold border-start border-5 bg-secondary-subtle border-primary p-2 mb-3">最近の目標</h2>
        </div>
      </div>
      <%= render 'shared/goals', goals: %>
    </div>
  <% end %>
<% elsif params[:is_tasks] %>
  <% tasks = recent_tasks(@user, task_count: 3) %>
  <% if tasks.present? %>
    <div class="mb-5">
      <div class="d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
          <h2 class="rounded fs-5 fw-semibold border-start border-5 bg-secondary-subtle border-primary p-2 mb-3">タスク</h2>
        </div>
      </div>
      <%= render 'shared/tasks', tasks: %>
    </div>
  <% end %>
<% elsif params[:is_comments] %>
  <% comments = recent_comments(@user, comment_count: 3) %>
  <% if comments.present? %>
    <div class="d-flex justify-content-center">
      <div class="col-lg-6 col-md-8 col-12">
        <h2 class="rounded fs-5 fw-semibold border-start border-5 bg-secondary-subtle border-primary p-2 mb-3">最近のコメント</h2>
      </div>
    </div>
    <%= render 'shared/comments', comments: %>
  <% end %>
<% end %>
