<div class="modal fade" id="commentDeleteModal<%= comment.id %>" tabindex="-1" aria-labelledby="commentDeleteModalLabel<%= comment.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentDeleteModalLabel<%= comment.id %>">「<%= comment.formatted_content %>」を削除する</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <%= link_to "削除する", comment_path(comment), class: 'btn btn-danger me-3', data: { turbo_method: :delete }  %>
      </div>
    </div>
  </div>
</div>
