<div id="comment_card<%= comment.id %>" class="mb-3">
  <div class="border border-2 rounded-1">
    <div class="p-4">
      <%= escaped_simple_format(comment.content) %>
    </div>
    <div class="d-flex justify-content-between p-3">
      <div class="d-flex align-items-center">
        <%= render 'shared/reaction_form', reactionable: comment, request_uri: comment_reactions_path(comment) %>
      </div>

      <div>
        <% commentable = comment.commentable %>
        <% if request.path_info == user_path(comment.user) %>
          <% request_uri = goal?(commentable) ? commentable : goal_task_path(commentable, goal_id: commentable.goal.id) %>
          <%= link_to request_uri, class: 'text-reset text-decoration-none ' do %>
            <%= goal?(commentable) ? "#{formatted_text(commentable)}(目標)" : "#{formatted_text(commentable)}(タスク)" %>
          <% end %>
        <% else %>
          <%= link_to comment.user, class: 'text-reset text-decoration-none ' do %>
            <%= image_tag comment.user.image, class: 'rounded-circle', alt: 'ユーザーアイコン', width: 30, height: 30 %>
            <%= comment.user.name %>さん
          <% end %>
        <% end %>

        <% if current_user?(comment.user) %>
          <%= link_to comment_path(comment, page: params[:page]),
                      id: "comment-delete-icon#{comment.id}",
                      class: 'btn',
                      data: { turbo_method: :delete, turbo_confirm: "#{formatted_text(comment)}を本当に削除しますか？" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
