<% reaction_form_id_name = reaction_form_id_name(reactionable) %>
<div id="<%= reaction_form_id_name %>">
  <% if reaction = Reaction.find_by(user: current_user, reactionable:) %>
    <%= render partial: 'shared/reactions', locals: { reactionable: } %>
  <% else %>
    <%= render partial: 'shared/unreactions', locals: { reactionable:, request_uri: } %>
  <% end %>
</div>

<% reaction_count_id_name = reaction_count_id_name(reactionable) %>
<% reaction_count = reactionable.reactions.count %>
<div>
  <span id="<%= reaction_count_id_name %>"><%= reaction_count %></span>
</div>
