<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-12">
    <%= form_with(model: task, url: redirect_uri) do |form| %>
      <%= render 'shared/validation_errors', resource: task %>

      <div class="mb-3">
        <%= form.label :content, class: 'form-label' %>
        <%= form.text_area :content, class: 'form-control', required: true %>
      </div>

      <%= form.label :completion_limits, '締切日' %>
      <%= form.datetime_field :completion_limits, class: 'form-control' %>

      <div class="d-flex justify-content-end">
        <%= form.submit class: 'btn btn-primary me-3' %>
        <%= link_to '戻る', :back, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
