<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-12">
    <% tasks.each do |task| %>
      <div class="mb-3">
        <div class="border border-2 rounded-1">
          <p class="p-4"><%= link_to task.content, goal_task_path(task, goal_id: task.goal.id), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %></p>

          <div class="p-3 text-end">
            <% if current_user == task.user %>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#taskFormModal<%= task.id %>">
                <i class="fa-solid fa-pen"></i>
              </button>

              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#taskDeleteModal<%= task.id %>">
                <i class="fa-solid fa-trash"></i>
              </button>
            <% end %>
          </div>
        </div>
      </div>

      <%= render 'shared/task_form_modal', task: %>
      <%= render 'shared/task_delete_modal', task: %>
    <% end %>
  </div>
</div>
