<div>
  <p><%= @company.name %></p>
  <p><%= @company.industry %></p>
  <p><%= @company.description %></p>
  <%= link_to 'HP', @company.home_page_url %>

  <% if current_user == @company %>
    <%# link_to '修正する', edit_user_path(@company) %>
  <% end %>
  <%= link_to '企業一覧へ戻る', companies_path, class: 'bg-gray-600 hover:bg-gray-500 text-white rounded block px-4 py-2' %>
</div>
