<% if is_tasks_path %>
  <div class="mb-1 trancate-content">
    <%= link_to escaped_simple_format(task.content),
                goal_task_path(task, goal_id: task.goal.id),
                class: 'link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover' %>
  </div>
<% else %>
  <h1 class="fs-4"><%= escaped_simple_format(task.content) %></h1>
<% end %>

<% unless task.completed_at? %>
  <% limit_days = task.completion_limits.day - Time.current.day %>
  <% if task.completion_limits > Time.current.since(7.days) %>
    <p class="mb-0">期限: <%= l task.completion_limits, format: :date %></p>
  <% elsif limit_days >= 1 && limit_days <= 7 %>
    <p class="mb-0">期限: あと<%= limit_days %>日</p>
  <% elsif task.completion_limits > Time.current %>
    <p class="mb-0">期限: <span class="text-danger"><%= l task.completion_limits, format: :hour_and_minutes %>まで</span></p>
  <% else %>
    <p class="text-danger mb-0">期限切れ</p>
  <% end %>
<% end %>
