<div class="mb-3">
  <div class="border border-2 rounded-1">
    <div class="d-flex justify-content-between">
      <div id="task_header<%= task.id %>" class="pt-4 ps-4">
        <%= render 'goals/tasks/task_header', task:, is_tasks_path: %>
      </div>

      <div class="pt-4 pe-4">
        <p class="<%= 'text-success' if task.completed_at? %>"><%= task.completed_at? ? "完了(#{l task.completed_at, format: :date})" : '進行中' %></p>
      </div>
    </div>

    <% if current_user?(task.user) %>
      <div class="p-2 text-end">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#taskFormModal<%= task.id %>">
          <i class="fa-solid fa-pen"></i>
        </button>

        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#taskDeleteModal<%= task.id %>">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div id="task_update_modal<%= task.id %>">
  <%= render 'shared/task_update_modal', task:, is_tasks_path: %>
</div>
<%= render 'shared/task_delete_modal', task: %>
