<% content_for(:title, 'タスク一覧') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-between mb-3">
  <div class="text-center">
    <h1 class="fs-2"><%= formatted_text(@goal) %>のタスク一覧</h1>
  </div>
</div>

<hr class="mb-4">

<div class="d-flex justify-content-center mb-3">
  <% if current_user?(@goal.user) %>
    <button type="button" class="btn btn-primary me-3 px-3" data-bs-toggle="modal" data-bs-target="#taskFormModal">
      作成する
    </button>
  <% end %>

  <div>
    <%= link_to '目標詳細へ', @goal, class: 'btn btn-outline-secondary px-2' %>
  </div>
</div>

<div id="tasks">
  <%= render 'shared/tasks', tasks: @tasks %>
</div>
<div id="task_create_modal">
  <%= render 'shared/task_create_modal', goal: @goal %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @tasks %>
</div>
