<% content_for(:title, 'タスク一覧') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <div class="text-center">
    <h1 class="fs-2"><%= formatted_text(@goal) %>のタスク一覧</h1>
  </div>

  <div class="text-end">
    <% if current_user?(@goal.user) %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskFormModal">
        タスクを作成する
      </button>
    <% end %>
  </div>
</div>

<div id="tasks">
  <%= render 'shared/tasks', tasks: @tasks %>
</div>
<div id="task_create_modal">
  <%= render 'shared/task_create_modal', goal: @goal %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @tasks %>
</div>

<div class="d-flex justify-content-center">
  <%= link_to '目標詳細に戻る', @goal, class: 'btn btn-secondary' %>
</div>
