<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <div>
    <h2 class="fs-3"><%= @task.content %></h2>
  </div>

  <div class="text-end">
    <% if @task.completed_at? %>
      <p class="text-success">完了(<%= l @task.completed_at, format: :date %>)</p>
    <% else %>
      <%= link_to '終了投稿する', new_task_complete_post_path(@task), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center mb-2">
  <button type="button" class="btn btn-warning me-3" data-bs-toggle="modal" data-bs-target="#taskFormModal<%= @task.id %>">
    <i class="fa-solid fa-pen"></i>
  </button>

  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#taskDeleteModal<%= @task.id %>">
    <i class="fa-solid fa-trash"></i>
  </button>
</div>

<%= render 'shared/task_form_modal', task: @task %>
<%= render 'shared/task_delete_modal', task: @task %>

<div class="d-flex justify-content-center mb-5">
  <%= link_to '目標一覧へ戻る', goal_tasks_path(@task.goal), class: 'btn btn-secondary' %>
</div>

<% if @task.completed_at? %>
  <div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
    <h2 class="fs-3">終了投稿</h2>
  </div>
  <p class="text-center">いいねやコメントでお祝いしましょう！</p>
  <% complete_post = @task.complete_post %>
  <%= render 'shared/complete_post', complete_post: %>
<% end %>

<%# TODO: ここリファクタリングする %>
<% comments = @task.comments.includes(:user).order(created_at: :desc).limit(3) %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <div>
    <h2 class="fs-3 mb-3">最近のコメント</h2>
    <p>気軽にいいねやコメントで交流しよう！</p>
  </div>
  <div class="text-end">
    <% if comments.empty? %>
      <span>コメント受付中</span>
    <% else %>
      <%= link_to 'もっと見る', task_comments_path(@task), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
    <% end %>
  </div>
</div>

<% if comments.empty? %>
  <div class="d-flex justify-content-center mb-3">
    <div class="border-bottom border-bottom-5 m-4 px-4">
      <p class="mb-1 p-0">最近のコメントはありません</p>
    </div>
  </div>
<% end %>

<%= render 'shared/comment', comments:, content_type: :user, is_comment_index: false %>
<%= render 'shared/comment_form', commentable: @task %>
