<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <div id="task_info<%= @task.id %>">
    <%= render 'task_info', task: @task, is_tasks_path: false %>
  </div>

  <div class="text-end">
    <% if @task.completed_at? %>
      <p class="text-success">完了(<%= l @task.completed_at, format: :date %>)</p>
    <% elsif current_user?(@task.user) %>
      <%= link_to '終了投稿する', new_task_complete_post_path(@task), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if current_user?(@task.user) %>
  <div class="d-flex justify-content-center mb-2">
    <button type="button" class="btn btn-warning me-3" data-bs-toggle="modal" data-bs-target="#taskFormModal<%= @task.id %>">
      <i class="fa-solid fa-pen"></i>
    </button>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#taskDeleteModal<%= @task.id %>">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>

  <div id="task_update_modal<%= @task.id %>">
    <%= render 'shared/task_form_modal', task: @task, is_tasks_path: false %>
  </div>
  <%= render 'shared/task_delete_modal', task: @task %>
<% end %>

<div class="d-flex justify-content-center mb-5">
  <%= link_to '目標一覧へ戻る', goal_tasks_path(@task.goal), class: 'btn btn-secondary' %>
</div>

<% if @task.completed_at? %>
  <div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
    <h2 class="fs-4">終了投稿</h2>
  </div>
  <p class="text-center">いいねやコメントでお祝いしましょう！</p>
  <% complete_post = @task.complete_post %>
  <%= render 'shared/complete_post', complete_post: %>
<% end %>

<%= render 'shared/recent_comments', commentable: @task %>
