<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <h1 class="fs-3 text-center">タイムライン<%= '(フォロー中)' if params[:is_only_follows] %></h1>

  <div class="text-end">
    <% if params[:is_only_follows] %>
      <%= link_to '全てのユーザーを表示する', timelines_path, class: 'btn btn-primary me-3' %>
    <% else %>
      <%= link_to 'フォローしている人で絞り込む', timelines_path(is_only_follows: true), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-12">
    <% @timelines.each do |timeline| %>
      <div class="mb-3">
        <div class="border border-2 rounded-1">
          <p class="p-4"><%= link_to timeline.content, timeline.timelineable_url,
                                     class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %></p>

          <div class="p-3 text-end">
            <%= link_to timeline.user, class: 'text-reset text-decoration-none' do %>
              <%= image_tag timeline.user.image, class: 'rounded-circle', width: 30, height: 30 %>
              <%= timeline.user.name %>さん
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @timelines %>
</div>
