<%= form_with model: goal do |form| %>
  <%= render 'shared/validation_errors', resource: goal %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
