<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-12">
    <%= form_with model: goal do |form| %>
      <%= render 'shared/validation_errors', resource: goal %>

      <div class="mb-3">
        <%= form.label :title, 'タイトル(250文字以内)', class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', placeholder: '音楽フェスを成功させたい！', required: true, maxlength: 250 %>
      </div>

      <div class="mb-3">
        <%= form.label :description, '説明(500文字以内)', class: 'form-label' %>
        <%= form.text_area :description, class: 'form-control', placeholder: '8月30日に主催する音楽フェスのイベントを黒字で終わりたい', required: true, maxlength: 500 %>
      </div>

      <div class="d-flex justify-content-center">
        <%= form.submit class: 'btn btn-primary me-3' %>
        <%= link_to '戻る', :back, class: 'btn btn-secondary' %>
      </div>

    <% end %>
  </div>
</div>
