<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <div>
    <h2 class="fs-3"><%= @goal.title %></h2>
    <p><%= @goal.description %></p>

    <%= render 'shared/task_progress_bar', goal: @goal %>
  </div>

  <div class="text-end">
    <% if @goal.completed_at? %>
      <p class="text-success">完了</p>
    <% elsif current_user == @goal.user %>
      <%= link_to '終了投稿する', new_goal_complete_post_path(@goal), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center mb-5">
  <% if current_user == @goal.user %>
    <%= link_to '修正する', edit_goal_path(@goal), class: 'btn btn-warning me-3' %>
  <% end %>
  <%= link_to '目標一覧へ戻る', goals_path, class: 'btn btn-secondary' %>
</div>

<% if @goal.completed_at? %>
  <div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
    <h2 class="fs-3">終了投稿</h2>
  </div>
  <% complete_post = @goal.complete_post %>
  <%= render 'shared/complete_post', complete_post: %>
<% end %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <h2 class="fs-3">最近のタスク</h2>
  <div class="text-end">
    <%= link_to 'もっと見る', goal_tasks_path(@goal), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
  </div>
</div>

<% tasks = @goal.tasks.includes(:user).order(created_at: :desc).limit(3) %>
<%= render 'shared/task_list', tasks: %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <h2 class="fs-3">最近のコメント</h2>
  <div class="text-end">
    <%= link_to 'もっと見る', goal_comments_path(@goal), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
  </div>
</div>

<%# TODO: ここリファクタリングする %>
<% comments = @goal.comments.includes(:user).order(created_at: :desc).limit(3) %>
<%= render 'shared/comment', comments:, content_type: :user %>

