<% content_for(:title, '目標詳細') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-5">
  <div>
    <h2 class="fs-3"><%= @goal.title %></h2>
    <%= escaped_simple_format(@goal.description) %>

    <%= render 'shared/task_progress_bar', goal: @goal %>
  </div>

  <div class="text-end">
    <div class="text-md-center my-4">
      <% if @goal.completed_at? %>
        <p class="text-success">達成(<%= l @goal.completed_at, format: :date %>)</p>
      <% elsif current_user?(@goal.user) %>
        <%= link_to '終了投稿する', new_goal_complete_post_path(@goal), class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div>
      <%= link_to @goal.user, class: 'text-reset text-decoration-none ' do %>
        <%= image_tag @goal.user.image, class: 'rounded-circle', alt: "#{@goal.user.name}のアイコン", width: 30, height: 30 %>
        <%= @goal.user.name %>さん(作成者)
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mb-5">
  <% if current_user?(@goal.user) %>
    <%= link_to '修正する', edit_goal_path(@goal), class: 'btn btn-warning me-3' %>
  <% end %>
  <%= link_to '目標一覧へ戻る', goals_path, class: 'btn btn-secondary' %>
</div>

<% if @goal.completed_at? %>
  <div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
    <h2 class="fs-4">終了投稿</h2>
  </div>
  <p class="text-center">いいねやコメントでお祝いしましょう！</p>
  <% complete_post = @goal.complete_post %>
  <%= render 'shared/complete_post', complete_post: %>
<% end %>

<% tasks = recent_tasks(@goal, task_count: 3) %>
<div class="d-sm-flex flex-sm-column flex-md-row justify-content-around mb-3">
  <h2 class="fs-4">最近のタスク</h2>
  <div class="text-end">
    <% if tasks.empty? && current_user?(@goal.user) %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskFormModal">
        タスクを作成する
      </button>
    <% else %>
      <%= link_to 'もっと見る', goal_tasks_path(@goal), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
    <% end %>
  </div>
</div>

<div id="tasks">
  <%= render 'shared/tasks', tasks: %>
</div>
<div id="task_create_modal">
  <%= render 'shared/task_create_modal', goal: @goal %>
</div>

<%= render 'shared/recent_comments', commentable: @goal %>
<div class="mt-3" id="comment_form">
  <%= render 'shared/comment_form', commentable: @goal %>
</div>
