<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
        <% if current_user %>
          <%= image_tag current_user.image %>
          <%= current_user.name %>さん
          <%= link_to "ユーザー一覧", users_path  %>
          <%= link_to "目標一覧", goals_path  %>
          <%= link_to "ログアウト", users_session_path(current_user), data: { turbo_method: :delete }  %>
        <% end %>
      </header>
    <%= yield %>
  </body>
</html>
